body {
      font-family: helvetica, sans-serif;
}

$grijs: lightgrey;

#header{
text-align: center;
background-image: url("contemporary_china.png");
padding-top: 50px;
padding-bottom: 55px;
border-bottom: 1px solid $grijs;

}
h1 {
      font-size: 2.3em;
      font-weight: 900;
      font-family: "playball";
      border-left: 3px solid black;
      border-right: 3px solid black;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 35px;
      margin-bottom: -20px;
      width: 220px;
      margin-left: auto;
      margin-right: auto;
}

h2 {
      font-size: 1.1em;
      margin-bottom: 25px;
      font-family: "rubik";
}

p {
      margin-bottom: 25px;
      text-align: left;
      line-height: 1.6em;
      letter-spacing: 2px;
      width: 100%;
      display: block;
      text-align: center;
      margin-top: 20px;
}

ul {
      list-style-type: none;
      padding: 0;
}

@media (max-width: 48em) {
      li a {
            color: red;
      }

      li {
            display: inline;
            margin-right: 10px;
      }
}
.carousel{
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  margin-top: 30px;
}

.carousel-cell{
  overflow: hidden;
  margin-right: 20px;
}
.carousel-cell img{
  display: block;
  height: 400px;
}
@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}
